global
    daemon
    maxconn 256

defaults
    mode tcp
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

listen stats
    mode http
    bind *:1936
    stats enable
    stats uri /
    stats hide-version

listen postgres_read
    bind *:5433
    mode tcp
    balance roundrobin
    option tcp-check
    tcp-check connect
    tcp-check send PING\r\n
    tcp-check expect string PONG
    server pgslave1 pgslave1:5432 check
    server pgslave2 pgslave2:5432 check
